@using IranFilmPort.Application.Services.UserProjects.Queries.GetAllProjectsByUserId
@using IranFilmPort.Common.Constants
@using IranFilmPort.Common.Helpers
@model ResultGetAllProjectsByUserIdServiceDto
@{
    Layout = "~/Views/Shared/_LayoutUserClientAdmin.cshtml";
    ViewData["HeadTitle"] = "پروژه های فیلم و فیلمنامه من";
    ViewData["pageHeadTitle"] = "پروژه های فیلم و فیلمنامه من";
}
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row" id="divInfo">
                <div class="col-12">
                    <a href="/user/addproject" class="btn btn-purple btn-rounded w-md waves-effect waves-light mb-3"><i class="mdi mdi-plus"></i> ایجاد پروژه</a>
                    @{
                        if (Model.Result.Count == 0)
                        {
                            <div class="alert alert-warning" role="alert">
                                پروژه‌ای وجود ندارد.
                            </div>
                        }
                        else
                        {
                            <div class="table-responsive" id="divNews">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>وضعیت</th>
                                            <th>بازدید</th>
                                            <th>تاریخ درج</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbProjects">
                                        @{
                                            foreach (var item in Model.Result)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.TitleFa
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (!item.Genuine)
                                                            {
                                                                switch (item.Status)
                                                                {
                                                                    case StatusConstants.Accepted:
                                                                        <div class="badge badge-success float-right">تائید شده</div>
                                                                        break;
                                                                    case StatusConstants.Rejected:
                                                                        <div class="badge badge-danger float-right">رد شده</div>
                                                                        break;
                                                                    case StatusConstants.UnderConsideration:
                                                                        <div class="badge badge-warning float-right">در حال بررسی</div>
                                                                        break;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="badge badge-purple float-right">دارای نماد اعتماد</div>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.Visit
                                                    </td>
                                                    <td>
                                                        @{
                                                            var shamsidate = new PersianDateTime(@item.InsertDateTime);
                                                            var shamsidateString = shamsidate.ToString("yyyy/MM/dd");
                                                            var persiandateTime = PersianNumberHelper.ConvertToPersian(shamsidateString);
                                                            @persiandateTime
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="/user/projectphotos/@item.Id" class="btn btn-primary waves-effect width-md waves-light">مدیریت تصاویر این اثر</a>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown float-right">
                                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-vertical"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a href="/user/projectphotos/@item.Id" class="dropdown-item">مدیریت تصاویر</a>
                                                                <a href="/user/addproject/@item.Id" class="dropdown-item">ویرایش</a>
                                                                <a onclick="deleteNews('@item.Id')" class="dropdown-item">حذف</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {

}
@section Scripts {
    <script src="~/commontemplate/pagecssjs/information/information.js"></script>
}