.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.navbar-custom {
    border-bottom: 2px dashed #ccc;
    background-color: white;
    box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
}

.footer {
    border-top: 2px dashed #ccc;
    background-color: #e0e0e0;
    box-shadow: -5px -39px 82px -41px rgba(0,0,0,0.95);
    -webkit-box-shadow: -5px -39px 82px -41px rgba(0,0,0,0.95);
    -moz-box-shadow: -5px -39px 82px -41px rgba(0,0,0,0.95);
}

.app-search-box input {
    background-color: #FEF205 !important;
}
