.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.navbar-custom {
    border-bottom: 2px dashed #ccc;
    background-color: white;
    box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 10px 49px -32px rgba(0,0,0,0.61);
}

.footer {
    border-bottom: 2px dashed #ccc;
    border-top: 2px dashed #ccc;
    background-color: #f3f3f3;
}

.app-search-box input {
    background-color: #FEF205 !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
/*------------------------------------------------------------------
    king loading - loader
-------------------------------------------------------------------*/
.king-parent-loader {
    justify-content: center;
    width: 100%;
    display: flex;
}

.king-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: kingspin 2s linear infinite;
}

@keyframes kingspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*------------------------------------------------------------------
    grid dropmenu
-------------------------------------------------------------------*/
.table-responsive {
    overflow: unset !important;
}
/*------------------------------------------------------------------
    responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    #btnIncreaseAmount {
        font-size: 17px !important;
        margin-bottom: 5px;
    }

    .articlepostimage {
        width: 100% !important;
    }
}
/*------------------------------------------------------------------
    droplist menu for table
-------------------------------------------------------------------*/
#dropdownContent {
    display: none;
    position: absolute;
    z-index: 999999;
    text-align: right !important;
    -webkit-box-shadow: 4px 3px 32px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 4px 3px 32px 0px rgba(0,0,0,0.61);
    box-shadow: 4px 3px 32px 0px rgba(0,0,0,0.61);
}
/*------------------------------------------------------------------
sweetalert
-------------------------------------------------------------------*/
.swal2-popup .swal2-title {
    font-weight: bold;
}

.swal2-html-container {
    font-size: 15px !important;
}

    .swal2-html-container a {
        color: #cc9f1b !important;
    }

.swal2-confirm:hover {
    background-color: #45a049;
}

.swal2-confirm {
    background-color: #45a049 !important; /* Green */
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
}

.swal2-cancel {
    background-color: red !important;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
}

    .swal2-cancel:hover {
        background-color: darkred !important; /* Green */
    }
/*------------------------------------------------------------------
    bootstrap
-------------------------------------------------------------------*/
.mt-10 {
    margin-top: 10px !important;
}

.bootstrap-tagsinput input {
    width: 100% !important;
}
/*------------------------------------------------------------------
    modal
-------------------------------------------------------------------*/
.modal .modalClose {
    font-size: 40px;
    color: lightgray !important;
    cursor: pointer;
}

.modal {
    padding-right: 0 !important; /* Reset padding on the body */
}

.modal {
    overflow-y: auto !important; /* Enable scrolling inside the modal */
}
/*------------------------------------------------------------------
    List
-------------------------------------------------------------------*/
.kingUl {
    padding-right: 15px !important;
}
/*------------------------------------------------------------------
    alert bootstrap
-------------------------------------------------------------------*/
.alert a {
    color: #71B6F9 !important;
    cursor: pointer;
}

.alert .green {
    color: green !important;
}

.alert .red {
    color: red !important;
}
/*------------------------------------------------------------------
    dot + text
-------------------------------------------------------------------*/
.kingWhiteText {
    color: white !important;
}

.kingBlueText {
    color: blue !important;
}

.kingBlackText {
    color: black !important;
}

.kingRedText {
    color: red !important;
}

    .kingRedText a {
        color: red !important;
    }

.kingGrayText {
    color: gray !important;
}

.kingGreenText {
    color: green !important;
}

.kingBrownText {
    color: #cc9f1b !important;
    font-weight: normal !important;
    font-size: unset !important;
}

.kingLightGrayBg {
    background-color: #E1E4E9 !important;
}

.kingReddot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.kingGreendot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.kingGraydot {
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.kingOrangedot {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}
/*------------------------------------------------------------------
    General
-------------------------------------------------------------------*/
table .longText {
    word-break: break-word !important; /* breaks inside long words */
}

option.each {
    font-family: 'IRANSans' !important;
    font-size: 20px;
}

.EnglishText {
    direction: ltr;
    text-align: left;
}

.img-crop-square {
    object-fit: cover !important;
    aspect-ratio: 1/1 !important;
}

.blinking-text {
    animation: blinktext 0.5s infinite;
}

@keyframes blinktext {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.kingWidth100 {
    width: 100% !important;
}

.centerText {
    text-align: center;
}

hr {
    border-bottom: 2px solid #dcdcdc;
}

.cursorNotAllowed, .cursorNotAllowed * {
    cursor: not-allowed !important;
}

.cursorPointer {
    cursor: pointer !important;
}

.cursorQuestion {
    cursor: help !important;
}

.kingColorRed {
    color: red !important;
}

.input-group {
    flex-wrap: inherit !important;
}

.textWhite {
    color: white !important;
}

.mnu-wallet {
    color: white;
    font-size: 12px;
}
/*------------------------------------------------------------------
    Select Control
-------------------------------------------------------------------*/
.form-select-sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
}

.form-select {
    display: block;
    width: 100%;
    padding: 4px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 0px !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    .form-select:before {
        border: 0 !important;
    }
/*------------------------------------------------------------------
    Swtich Buttons
-------------------------------------------------------------------*/
.custom-control {
    padding-right:0px;
}
    .custom-control.material-switch {
    --color: #26a69a;
    padding-left: 0;
}

    .custom-control.material-switch .material-switch-control-input {
        display: none;
    }

        .custom-control.material-switch .material-switch-control-input:checked ~ .material-switch-control-indicator::after {
            background-color: var(--color);
            left: 17px;
        }

    .custom-control.material-switch .material-switch-control-indicator {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 16px;
        background: #ddd;
        border-radius: 16px;
        transition: 0.3s;
    }

        .custom-control.material-switch .material-switch-control-indicator::after {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            transition: 0.3s;
            top: -1px;
            left: -1px;
            background: #fdfdfd;
            box-shadow: 0 2px 10px #aaa;
        }

.custom-control.ios-switch {
    --color: #4cd964;
    padding-left: 0;
}

    .custom-control.ios-switch .ios-switch-control-input {
        display: none;
    }

        .custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
            width: 20px;
        }

        .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
            border: 10px solid var(--color);
        }

            .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
                top: -8px;
                left: 4px;
            }

        .custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
            left: 0px;
        }

    .custom-control.ios-switch .ios-switch-control-indicator {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 20px;
        background: #fff;
        border-radius: 16px;
        transition: 0.3s;
        border: 2px solid #ddd;
    }

        .custom-control.ios-switch .ios-switch-control-indicator::after {
            content: '';
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            transition: 0.3s;
            top: 0px;
            left: 0px;
            background: #fff;
            box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
        }

.custom-control.border-switch {
    --color: #4cd964;
    padding-left: 0;
}

    .custom-control.border-switch .border-switch-control-input {
        display: none;
    }

        .custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator {
            border-color: var(--color);
        }

            .custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator::after {
                left: 14px;
                background-color: var(--color);
            }

    .custom-control.border-switch .border-switch-control-indicator {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 20px;
        background: #fff;
        border-radius: 16px;
        transition: 0.3s;
        border: 2px solid #ccc;
    }

        .custom-control.border-switch .border-switch-control-indicator::after {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transition: 0.3s;
            top: 2px;
            left: 2px;
            background: #ccc;
        }

.custom-control.teleport-switch {
    --color: #4cd964;
    padding-left: 0;
}

    .custom-control.teleport-switch .teleport-switch-control-input {
        display: none;
    }

        .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
            border-color: var(--color);
        }

            .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
                left: -14px;
            }

            .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
                right: 2px;
                background-color: var(--color);
            }

    .custom-control.teleport-switch .teleport-switch-control-indicator {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 20px;
        background: #fff;
        border-radius: 16px;
        transition: 0.3s;
        border: 2px solid #ccc;
        overflow: hidden;
    }

        .custom-control.teleport-switch .teleport-switch-control-indicator::after {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transition: 0.3s;
            top: 2px;
            left: 2px;
            background: #ccc;
        }

        .custom-control.teleport-switch .teleport-switch-control-indicator::before {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transition: 0.3s;
            top: 2px;
            right: -14px;
            background: #ccc;
        }
/*------------------------------------------------------------------
    footer
-------------------------------------------------------------------*/
.footer {
    bottom: unset !important;
}

.footerRowContent {
    align-items: center;
}

.icon-socials {
    display: inline-block;
    margin-right: 10px;
    height: 32px;
    width: 32px;
    transition-duration: 0.2s;
}

    .icon-socials.icon-facebook {
        background: url(../images/icons/facebook.svg) no-repeat right 0px top 0px;
        transition-duration: 0.2s;
    }

        .icon-socials.icon-facebook:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
        }

    .icon-socials.icon-main {
        background: url(../images/icons/main.svg) no-repeat right 0px top 0px;
        transition-duration: 0.2s;
    }

        .icon-socials.icon-main:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
        }

    .icon-socials.icon-facebook {
        background: url(../images/icons/facebook.svg) no-repeat right 0px top 0px;
        transition-duration: 0.2s;
    }

        .icon-socials.icon-facebook:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
        }

    .icon-socials.icon-instagram {
        background: url(../images/icons/instagram.svg) no-repeat right 0px top 0px;
        transition-duration: 0.2s;
    }

        .icon-socials.icon-instagram:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
        }

    .icon-socials.icon-telegram {
        background: url(../images/icons/telegram.svg) no-repeat right 0px top 0px;
        transition-duration: 0.2s;
    }

        .icon-socials.icon-telegram:hover {
            opacity: 0.8;
            transition-duration: 0.2s;
        }
/* user top menu */
.dropdown {
    display: inline-block !important;
    position: relative !important;
}

@media only screen and (max-width: 945px) {
    .dropdown.notification-list .dropdown-toggle {
        padding: unset !important;
    }

    .navbar-custom .list-unstyled.topnav-menu {
        width: 100% !important;
    }

    .navbar-custom .logo-box {
        display: none !important;
    }

    .navbar-custom .topnav-menu {
        display: flex !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 300px) {
    .nav-link .mnu-wallet, .nav-link .noti-icon {
        display: none !important;
    }
}
   