<ul class="floatingMenu">
    <li>
        <a class="link_item theme_background _btnFloating" data-cid=""
        href="https://wa.me/989216343320?text=" target="_blank" data-type="defaultPhone"
           data-data="">
            <span class="text">مشاوره تخصصی پخش فیلم</span>
            <img src='/SiteTemplate/assets/imgs/sitematerials/whatsapp.svg' />
        </a>
    </li>
    <li>
        <a class="link_item theme_background _btnFloating" data-cid=""
           href='/تماس-با-درگاه-فیلم-ایران?modal=true"' target="_blank" data-type="defaultPhone"
           data-data="">
            <span class="text">تماس با کارشناسان شرکت</span>
            <img src='/SiteTemplate/assets/imgs/sitematerials/phone.svg' />
        </a>
    </li>
    <li id="TOPTOP" style="display: none;">
        <a onclick='window.scrollTo({top: 0, behavior: "smooth"});' class="link_item top_item _btnFloating">

            <img width="45" src='/SiteTemplate/assets/imgs/sitematerials/arrow_up.webp' />
        </a>
    </li>
</ul>