/*
    Add a data-label attribute to each <td> in your table, containing the column title.
    like:
    <td data-label="نام">علی</td>
*/
.tbKingResponsiveWarning {
    text-align: center;
    display: none;
}

@media (max-width: 768px) {
    .table-responsive .tbKingResponsive td::before {
        content: attr(data-label);        
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .table-responsive{
        text-align: right !important;
        direction: rtl !important;
        width: 100% !important;
    }
    .table-responsive, .table-responsive .tbKingResponsive {
        overflow: unset !important;
    }
    .tbKingResponsiveWarning {
        text-align: center;
        display: block;
    }

    .table-responsive .tbKingResponsive table {
        width: 100%;
        border-collapse: collapse;
        text-align: right !important;
    }

    .table-responsive .tbKingResponsive th,
    .table-responsive .tbKingResponsive td {
        width: 100% !important;
        padding: 10px;
        text-align: right !important;
    }

    .table-responsive .tbKingResponsive table,
    .table-responsive .tbKingResponsive thead,
    .table-responsive .tbKingResponsive tbody,
    .table-responsive .tbKingResponsive th,
    .table-responsiv .tbKingResponsivee td,
    .table-responsive .tbKingResponsive tr {
        display: block;
        width: 100% !important;
    }

        .table-responsive .tbKingResponsive thead tr {
            display: none; /* Hide the header on smaller screens */
        }

    .table-responsive .tbKingResponsive tr {
        margin-bottom: 10px;
    }

    .table-responsive .tbKingResponsive td {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        flex-wrap: wrap; /* Allow wrapping for labels and values */
    }



    /* Alternate even and odd row colors */
    .table-responsive .tbKingResponsive tr:nth-child(even) {
        background-color: #e0e0e0; /* Light gray for even rows */
    }

    .table-responsive .tbKingResponsive tr:nth-child(odd) {
        background-color: #ffffff; /* White for odd rows */
    }


    .table-responsive .dropdown {
        width: 100% !important;
        /*float-right*/
        float: left !important;
        text-align: left !important;
    }
}
