@using System.Security.Claims
@using Endpoint.Website.Utilities.Claim
@using IranFilmPort.Application.Services._AdminStuff.Queries.GetPanelNotification
@using IranFilmPort.Common.Constants
@model GetPanelNotificationServiceDto
@{
    var claimIdentity = User.Identity as ClaimsIdentity;
    var fullname = ClaimUtility.GetUserFullname(User);
    var role = ClaimUtility.GetUserRole(User);
}
<div class="left-side-menu">
    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="/common/images/square-colored-logo.webp" alt="تصویر" height="100" class="rounded-circle img-thumbnail avatar-lg">
            <img src="/UserTemplate/assets/images/users/user-1.jpg" alt="تصویر کاربر" title="قائم امیدی" class="rounded-circle img-thumbnail avatar-lg">
            <br />
            <div class="dropdown">
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">@fullname</a>
                <div class="dropdown-menu user-pro-dropdown">
                    <a href="/auth/logout/" class="dropdown-item notify-item">
                        <i class="fe-log-out mr-1"></i>
                        <span>خروج</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">
                @{
                    switch (@role)
                    {
                        case RoleConstants.King:
                            <b>پادشاه</b>
                            break;
                        case RoleConstants.SuperAdmin:
                            <b>سوپرادمین</b>
                            break;
                        case RoleConstants.Admin:
                            <b>ادمین</b>
                            break;
                        case RoleConstants.Client:
                            <b>مشتری</b>
                            break;
                        case RoleConstants.User:
                            <b>کاربر عادی</b>
                            break;
                    }
                }
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-muted">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="#" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">داشبُرد</li>

                <li>
                    <a href="/admin/">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> پیشخوان </span>
                    </a>
                </li>

                <li>
                    <a href="/common/information">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> اطلاعات کاربر </span>
                    </a>
                </li>
                @{
                    if (claimIdentity.FindFirst(ClaimTypes.Role).Value.ToString() == RoleConstants.King ||
                    claimIdentity.FindFirst(ClaimTypes.Role).Value.ToString() == RoleConstants.SuperAdmin)
                    {
                        <li>
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-invert-colors"></i>
                                <span> مدیریت کاربران </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/admin/users/king">پادشاهی</a></li>
                                <li><a href="/admin/users/superadmin">سوپرادمین‌ها</a></li>
                                <li><a href="/admin/users/admin">ادمین ها</a></li>
                                <li><a href="/admin/users/client">مشتریان</a></li>
                                <li><a href="/admin/users/user">کاربران عادی</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-invert-colors"></i>
                                <span>
                                    @{
                                        if (
                                            Model.UserProfileStatus != 0 ||
                                            Model.UserHeadshotStatus != 0 ||
                                            Model.UserMeliCardStatus != 0
                                        )
                                        {
                                            <i class="blink"></i>
                                        }
                                    }
                                    در حال بررسی‌ها
                                </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="/admin/userprofileverifications">
                                        @{
                                            if (Model.UserProfileStatus != 0)
                                            {
                                                <i class="blink"></i>
                                            }
                                        }
                                        پروفایل کاربران
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/userheadshotverifications">
                                        @{
                                            if (Model.UserHeadshotStatus != 0)
                                            {
                                                <i class="blink"></i>
                                            }
                                        }
                                        تصاویر کاربران
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/usermelicardverifications">
                                        @{
                                            if (Model.UserMeliCardStatus != 0)
                                            {
                                                <i class="blink"></i>
                                            }
                                        }
                                        هویت کاربران
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    if (
                    claimIdentity.FindFirst(ClaimTypes.Role).Value.ToString() == RoleConstants.King ||
                    claimIdentity.FindFirst(ClaimTypes.Role).Value.ToString() == RoleConstants.SuperAdmin ||
                    claimIdentity.FindFirst(ClaimTypes.Role).Value.ToString() == RoleConstants.Admin)
                    {
                        <li>
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-invert-colors"></i>
                                <span> مدیریت پست ها </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/admin/news">نمایش پست ها</a></li>
                                <li><a href="/admin/newscategories">دسته بندی پست ها</a></li>
                                <li><a href="/admin/addnews">درج پست جدید</a></li>
                                <li><a href="/admin/newscomments">کامنت پست ها</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-invert-colors"></i>
                                <span> مدیریت فستیوال ها </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/admin/festivals">نمایش فستیوال ها</a></li>
                                <li><a href="/admin/addfestival">درج فستیوال جدید</a></li>
                                <li><a href="/admin/festivalcomments">کامنت فستیوال ها</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>