@using Endpoint.Website.Models.Users
@using IranFilmPort.Common.Constants
@using IranFilmPort.Common.Helpers;
@model ModelUsers
@{
    Layout = "~/Views/Shared/_LayoutUserClientAdmin.cshtml";

    if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.King).ToLower())
    {
        ViewData["HeadTitle"] = "مدیریت پادشاهان";
        ViewData["pageHeadTitle"] = "مدیریت پادشاهان";
    }
    if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.SuperAdmin).ToLower())
    {
        ViewData["HeadTitle"] = "مدیریت سوپرادمین ها";
        ViewData["pageHeadTitle"] = "مدیریت سوپرادمین ها";
    }
    if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.Admin).ToLower())
    {
        ViewData["HeadTitle"] = "مدیریت ادمین ها";
        ViewData["pageHeadTitle"] = "مدیریت ادمین ها";
    }
    if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.Client).ToLower())
    {
        ViewData["HeadTitle"] = "مدیریت مشتریان";
        ViewData["pageHeadTitle"] = "مدیریت مشتریان";
    }
    if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.User).ToLower())
    {
        ViewData["HeadTitle"] = "مدیریت کاربران";
        ViewData["pageHeadTitle"] = "مدیریت کاربران";
    }

    ViewData["pageSubTitle"] = "";
}
<div class="row">
    <div class="col-lg-12">
        <div>
            @{
                if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.King).ToLower())
                {
                    <a href="/admin/adduser?role=@Model.RoleTitle" class="btn btn-primary waves-effect width-md waves-light">پادشاه جدید</a>
                }
                if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.SuperAdmin).ToLower())
                {
                    <a href="/admin/adduser?role=@Model.RoleTitle" class="btn btn-primary waves-effect width-md waves-light">سوپرادمین جدید</a>
                }
                if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.Admin).ToLower())
                {
                    <a href="/admin/adduser?role=@Model.RoleTitle" class="btn btn-primary waves-effect width-md waves-light">ادمین جدید</a>
                }
                if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.Client).ToLower())
                {
                    <a href="/admin/adduser?role=@Model.RoleTitle" class="btn btn-primary waves-effect width-md waves-light">مشتری جدید</a>
                }
                if (Model.RoleTitle.ToString().ToLower() == Convert.ToString(RoleConstants.User).ToLower())
                {
                    <a href="/admin/adduser?role=@Model.RoleTitle" class="btn btn-primary waves-effect width-md waves-light">کاربر عادی جدید</a>
                }
            }
        </div>
        <div class="card-box mt-20">
            @{
                if (Model.ResultGetAllUsersServiceDto == null)
                {
                    <div class="alert alert-warning" role="alert">
                        کاربری وجود ندارد.
                    </div>
                }
                else
                {
                    if (Model.ResultGetAllUsersServiceDto.Result.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            کاربری وجود ندارد.
                        </div>
                    }
                    else
                    {
                        <h4 class="mt-0 header-title">لیست تمام کاربرها</h4>
                        <div class="table-responsive" id="divUsers">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام کاربری</th>
                                        <th>تاریخ درج</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.ResultGetAllUsersServiceDto.Result)
                                        {
                                            <tr>
                                                <td>@item.Fullname</td>
                                                <td>@item.Username</td>

                                                <td>
                                                    @{
                                                        var shamsidate = new PersianDateTime(@item.InsertDateTime);
                                                        var shamsidateString = shamsidate.ToString("yyyy/MM/dd");
                                                        var persiandateTime = PersianNumberHelper.ConvertToPersian(shamsidateString);
                                                        @persiandateTime
                                                    }
                                                </td>
                                                <td>
                                                    <div class="dropdown float-right">
                                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="/admin/AddUser/@item.UserId" class="dropdown-item">ویرایش</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admintemplate/pagejscss/news/news.js"></script>
}
