<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Endpoint.Website</title>
    <meta content="یک قالب مدیریتی با امکانات فراوان برای ساخت سی آر ام، سیستم مدیریت محتوا و ..." name="description" />
    <meta content="قائم امیدی" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/UserTemplate/assets/images/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Endpoint.Website.styles.css" asp-append-version="true" />
    <link href="/UserTemplate/assets/libs/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="/UserTemplate/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/UserTemplate/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/UserTemplate/assets/css/app-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/common/general/general.css" rel="stylesheet" />
    <link href="~/common/kingresponsive/kingresponsivetable.css" rel="stylesheet" />
    <link href="~/common/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/common/waitme/waitme.css" rel="stylesheet" />
    <link href="~/usertemplate/assets/css/custom.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="wrapper">
        @await Component.InvokeAsync("ClientUserAdminHeader")
        @await Component.InvokeAsync("ClientUserAdminRightSide")
        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box mt-10">
                            <h4 class="mt-0 header-title">@ViewData["pageHeadTitle"]</h4>
                            <p class="text-muted font-14 mb-3">
                                @ViewData["pageSubTitle"]
                            </p>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div> <!-- content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            پیاده سازی شده: <a href="mailto:info@caspianworld.ir">کاسپینِ جهانی</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript:void(0);">درباره ما</a>
                                <a href="javascript:void(0);">راهنما</a>
                                <a href="javascript:void(0);">تماس با ما</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @await Component.InvokeAsync("ClientUserAdminLeftSide")
    <div class="rightbar-overlay"></div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.7/purify.min.js" integrity="sha512-78KH17QLT5e55GJqP76vutp1D2iAoy06WcYBXB6iBCsmO6wWzx0Qdg8EDpm8mKXv68BcvHOyeeP4wxAL0twJGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Vendor js -->
    <script src="/UserTemplate/assets/js/vendor.min.js"></script>
    <script src="~/common/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/common/waitme/waitme.min.js"></script>
    <script src="~/common/waitme/waitmeking.js"></script>
    <script src="~/common/general/general.js"></script>
    <script src="~/common/general/kingvalidateinput.js"></script>
    <script src="~/common/kingsweetalert/kingsweetalert.js"></script>
    <!-- fullcalendar plugins -->
    <script src="/UserTemplate/assets/libs/moment/moment.js"></script>
    <script src="/UserTemplate/assets/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/UserTemplate/assets/libs/fullcalendar/fullcalendar.min.js"></script>

    <!-- fullcalendar js -->
    <script src="/UserTemplate/assets/js/pages/fullcalendar.init.js"></script>

    <!-- App js -->
    <script src="/UserTemplate/assets/js/app.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>