 @{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IRAN FILM PORT AUTHENTICATION" name="description" />
    <meta content="Alimohammad Eghbaldar" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <title>ورود به سامانه | درگاه فیلم ایران</title>
    <link href="~/authtemplate/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/authtemplate/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/authtemplate/css/style.css" rel="stylesheet" />
    <link href="~/common/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/common/waitme/waitme.css" rel="stylesheet" />
    <link rel="preconnect" href="https://challenges.cloudflare.com">
</head>
<body dir="rtl">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="form-container">
                <!-- Login Form -->
                <div class="card form-card active" id="login-form">
                    <div class="card-header">
                        <h3>ورود</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><img class="iranfilmportgraysvg" src="~/common/images/iranfilmport_gray-svg.svg" /></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="loginForm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control en letterWithSpace " id="txtUsername" placeholder="Username ..." required>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control en" id="txtPassword" placeholder="Password ..." required>
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox" disabled checked="checked" id="remember-me">مرا بخاطر بسپار
                            </div>
                            <div class="form-group">
                                <button id="btnLogin" onclick="GetLogin()"
                                        class="btn float-right login_btn">
                                    ورود
                                </button>
                            </div>
                            <div id="turnstile-login"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            هنوز ثبت نام نکرده اید؟<a href="#" id="show-register">ثبت نام</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" id="forgot-password">بازگردانی رمز عبور!</a>
                        </div>
                    </div>
                </div>

                <!-- Register Form -->
                <div class="card form-card" id="register-form">
                    <div class="card-header">
                        <h3>ثبت نام</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><img class="iranfilmportgraysvg" src="~/common/images/iranfilmport_gray-svg.svg" /></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="registerForm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="نام ...">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="نام خانوادگی ...">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control en" placeholder="Email ...">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control en" placeholder="Mobile ...">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control en" placeholder="Password ...">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-icon"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control en" placeholder="re-Password ...">
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox" required>با <a href="#">قوانین و مقررات</a> موافقم
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ثبت نام" class="btn float-right login_btn">
                            </div>
                            <div id="turnstile-register"></div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            قبلاً ثبت نام کرده اید؟<a href="#" id="show-login">ورود</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/authtemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/authtemplate/js/bootstrap.min.js"></script>
    <script src="~/common/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/common/kingsweetalert/kingsweetalert.js"></script>
    <script src="~/common/general/general.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.7/purify.min.js" integrity="sha512-78KH17QLT5e55GJqP76vutp1D2iAoy06WcYBXB6iBCsmO6wWzx0Qdg8EDpm8mKXv68BcvHOyeeP4wxAL0twJGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="~/authtemplate/js/main.js"></script>
    <script src="~/authtemplate/pagecssjs/login/login.js"></script>
    <script src="~/common/waitme/waitme.min.js"></script>
    <script src="~/common/waitme/waitmeking.js"></script>
    <script src="~/common/waitme/googleeffects.js"></script>
</body>
</html>